# Don't include compiled C# microservices
Bot/
Hangfire/
bin/
obj/

# Don't include PyCache
__pycache__/

# Don't include IDE specific files
Barcabot/.idea
.vscode/

# Don't include any secrets
config.yml
